h1 {
  margin: 10px 10px 10px 10px;
  font-family: Sans-serif;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}

#header-img{
  width: 100%;
  height: auto;
  overflow: hidden;
}

body {
  background: linear-gradient(to bottom, #F8DE7E, #ffffff);
}
