h1 {
  padding: 50px 50px 50px 50px;
  font-family: Roboto;
  font-size: 60px;
  font-weight: semi-bold;
  text-align: center;
}

@media (max-width: 1024px) {
  h1 {
    padding: 5vw 5vw 5vw 5vw;
    font-size: 10vw;
  }
  #intro{
    font-size: 5vw;
    padding: 5vw 5vw 5vw 5vw;
  }
}
  
#header-img{
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
}

#date{
  font-family: Roboto;
  font-size: 10px;
  color: grey;
  text-align: center;
}

#intro{
  font-family: sans-serif;
  font-size: 16px;
  padding: 50px 50px 50px 50px
}

.logo{
  padding: 0;
  margin: 0;
  padding-left: 0;
  width: 10vw;
  height: 7vw;
  padding-right: 1vw;
  margin-right: 1vw;
}

.logo-container{
  background-color: black;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  margin: 0 auto;
  padding: 0;
}

.web_name{
  width: 20vw;
  font-family: cursive;
  font-weight: 400;
  color: white;
  padding-left: 0;
  margin-left: 0;
}

.logo2{
  padding: 0;
  margin: 0;
  padding-left: 0;
  width: 10vw;
  height: 7vw;
  padding-right: 1vw;
  margin-right: 1vw;
}

.logo-container2{
  background-color: black;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.web_name2{
  width: 20vw;
  font-family: cursive;
  font-weight: 400;
  color: white;
  padding-left: 0;
  margin-left: 0;
}


h2 {
  font-family: roboto;
  text-align: center;
}

a {
  color: grey;
  text-decoration: none;
}

ul {
  font-family: roboto;
  font-size: 16px;
  padding: 30px 30px 30px 35px;
}

#Eat-and-Go-Container{
  border-top: 5px solid grey;
  border-bottom: 5px solid grey;
}

.manhwa-img{
  max-width: 100%;
  height: auto;
}
