h1 {
  padding: 50px 50px 50px 50px;
  font-family: Roboto;
  font-size: 60px;
  font-weight: semi-bold;
  text-align: center;
}

@media (max-width: 1024px) {
  h1 {
    padding: 5vw 5vw 5vw 5vw;
    font-size: 10vw;
  }
  #intro{
    font-size: 5vw;
    padding: 5vw 5vw 5vw 5vw;
  }
}
  
#header-img{
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
}

#date{
  font-family: Roboto;
  font-size: 10px;
  color: grey;
  text-align: center;
}

#intro{
  font-family: sans-serif;
  font-size: 16px;
  padding: 50px 50px 50px 50px
}

#logo{
  padding-left: 0;
  width: 200px;
  height: 100px;
}

#logo-container{
  border-bottom: 2px solid black;
  height: 200px;
}

h2 {
  font-family: roboto;
  text-align: center;
}

a {
  color: grey;
  text-decoration: none;
}

ul {
  font-family: roboto;
  font-size: 16px;
  padding: 30px 30px 30px 35px;
}

#Eat-and-Go-Container{
  border-top: 5px solid grey;
  border-bottom: 5px solid grey;
}

img {
  width: 100%;
  height: auto;
}
